.element__like {
  padding: 0;
  background-color: #FFFFFF;
  border: 0;
  background-image: url(../../../images/like.svg);
  background-position: center;
  background-repeat: no-repeat;
  transition: opacity .5s linear;
  cursor: pointer;
  width: 22px;
  height: 19px;
}

.element__like:hover {
  opacity: 0.5;
}
