.element__like {
  padding: 0;
  padding-right: 62px;
  background-color: #FFFFFF;
  border: 0;
  background-image: url(../../../images/like.svg);
  background-position: center;
  background-repeat: no-repeat;
  transition: opacity .5s linear;
  cursor: pointer;
}

.element__like:hover {
  opacity: 0.5;
}

.element__like:active {
  background-image: url(../.././../images/like_active.svg);
  opacity: 1;
}
