.form__submit {
  display: block;
  padding: 13px 0 14px;
  margin-top: 49px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #fff;
  background: #000;
  border-radius: 2px;
  border: none;
  width: 100%;
  box-sizing: border-box;
  transition: opacity .5s linear;
  cursor: pointer;
}

.form__submit:hover {
  background: rgba(0, 0, 0, .8);
}

@media (max-width: 600px) {
  .form__submit {
    padding: 14px 0 14px;
    margin-top: 42px;
    font-size: 14px;
    line-height: 17px;
    margin-top: 45px;
  }
}
