.form__input {
  width: 100%;
  padding: 0;
  border: none;
  padding-bottom: 8px;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-family: inherit;
}

.form__input::placeholder {
  color: #c4c4c4;
}

.form__input:first-of-type {
  margin-top: 50px;
}

.form__input:last-of-type {
  margin-top: 25px;
  padding-bottom: 10px;
}

@media (max-width: 600px) {
  .form__input:first-of-type  {
    margin-top: 76px;
    padding-bottom: 9px;
  }

  .form__input:last-of-type  {
   
  }
}
