.form__user-name {
  width: 100%;
  padding: 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  margin: 50px 0 0;
  font-family: inherit;
  padding-bottom: 9px;
}

@media (max-width: 600px) {
  .form__user-name {
    margin-top: 76px;
  }
}
